<div class="container-fluid">

<div class="row-fluid">
  <div class="col-md-9">

	<p class="lead">The Early Years <small>(1987 to 1996)</small></p>

	<p class="text-justify">
		My technical training began with a summer job in 1987 with Redifusion (now Redifon), an electronics 
	   	company working in the defence and services industries. This job was extended over summer vacations 
	   	until 1990. Here I was exposed to both formal methodologies and practices for software development 
	   	before I even embarked on a University degree – and challenged in a fast paced environment. 
	</p>
	
	<p class="text-justify">
		The integration of hardware and software in solutions was probably the most significant aspect of the electronics and computing industry for me – previously, software had existed in isolation (on a home computer) – now I could see assembly-level code running on embedded systems, performing critical functions in a time-dependent manner. 
	</p>
	
	<p class="text-justify">
		I recall with pride delivering as part of that first work-experience month, a time-based scheduling system written in C from specification to completed module in 7 days - more so that the project was also my first exposure to the language. As part of a larger solution, my scheduling system was later deployed to thousands of business units across the country.
	</p>
	
	<p class="text-justify"> 
		The lessons learned there I have never forgotten – particularly having been involved with that company’s ISO 9000 accreditation and the Q/A process as part of the rounded training I received. 
 	</p>
	
	<p class="text-justify">
		After training at Redifon, I undertook an honors degree course at U.W.E. in Computing for Real Time Systems. This cemented my knowledge of formal methods and gave me a practical knowledge of a variety of programming languages and platforms – from assembler on embedded processors to Ada, C++ and Object-Oriented databases running on Unix and Solaris. The degree course syllabus was wide and varied, and is still regarded as one of the most valuable and commercially relevant courses available today.
	</p>
	
	<p class="text-justify">
		Whilst studying for my computing degree U.W.E, I became interested in Video – initially by recording technical presentations for the course, then being employed on a freelance basis to create computer graphics, to film and to edit the University’s productions. This exposed me to other forms of project beyond the software development life-cycle, and to business practices and needs on a more personal level. 
	</p>
	
	<p class="text-justify">
		I still hold a directorship of the video production company that spun directly from that work - 
		<a href="http://www.videocrew.co.uk">The Video Crew Ltd</a>.
	</p>	  
  </div>
</div>