    <div class="well sidebar-nav">
      <div>
        <h3>A potted history</h3>
        <ul>
          <li><a href="#/history/1987-1996">Early Years (1987-1996)</a></li>
          <li><a href="#/history/1996-1998">First contact with employment…  and the antiques trade (1996 to 1998)</a></li>
          <li><a href="#/history/1998-2002">S(h)ifting gears (1998  to 2002)</a></li>
          <li><a href="#/history/H1-2003">Free and easy for 6 months (H1 2003)</a></li>
          <li><a href="#/history/2003-2006">Mando – the company that doesn’t need its name in its branding (2003-2006)</a></li>
          <li><a href="#/history/2006-2011">Healthy change – bigger challenges (2006 to 2011)</a></li>
          <li><a href="#/history/2011-">Landing right on the Mark (2011 to present)</a></li>
        </ul>
      </div>
    </div> 