<div class="container-fluid">

<div class="row-fluid">
  
  
  <div class="col-md-6">
    <div class="jumbotron">
      <h1>About Me</h1>
      <div class="text-justify">
        <p>I've a very broad experience of software development over 15 years and a passion for both technology and 
		       elegance in my solutions that make me an extremely capable software architect.</p>
	      <p>Personable and professional, I revel in complex challenges, but always make time to coach and mentor team members.</p>
	      <p>And I can shoot & edit video and create graphics too!</p>
        <p>You can see a brief history of my professional life to the right.</p>
        <h3>Why "<strong>new</strong>, new"?</h3>
        <p>Quite simply this is a rework of my old web site - an effectively static ASP.Net MVC web site  - 
           into a genuinely static web site that I can serve directly out of Amazon S3.</p>
        <p>Because it's cheaper!</p>
      </div>
    </div>
  </div>


  <div class="col-md-6" ng-include="$scope.historyIndexUrl">    
  </div>
  
  <div class="col-md-6">
    	 						
    <ul class="timeline">
        <!-- Landmark -->
        <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Technical Lead - Landmark Information Group</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> September 2011 – Present</small></p>
            </div>
            <div class="timeline-body">
              <p>Enterprise software design & architecture, storyboarding, C#, Silverlight, WCF, SQL Server, team leading, mentoring.</p>
            </div>
          </div>
        </li>

        <!-- Civica -->
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Technical Architect - Civica Health & Social Care</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> April 2006 – August 2011</small></p>
            </div>
            <div class="timeline-body">
              <p>Enterprise software design & architecture, product evangelism and sales support, business analysis, requirements capture, storyboarding, C#, Silverlight, WCF, Oracle, team leading, project management.</p>
            </div>
          </div>
        </li>
    
        <!-- Mando -->
        <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Lead Systems Architect & Head of Programming - Mando Group Ltd</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2003 – March 2006</small></p>
            </div>
            <div class="timeline-body">
              <p>Web site design & architecture, sales support, business analysis, requirements capture, storyboarding, C#, ASP.Net, VB.Net, VB, COM, ASP, IIS, MS SQL, team leading, project management, department management.</p>
            </div>
          </div>
        </li>

        <!-- Freelance -->
        <li class="timeline-inverted">
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Freelance Technical Consultant</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Jan 2003 – June 2003</small></p>
            </div>
            <div class="timeline-body">
              <p>XML, Web services, VB.Net, ASP, IIS, MS SQL, XML, Perl, PostgreSQL, Apache.</p>
            </div>
          </div>
        </li>
        
        <!-- Sift -->
        <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Various, to IT Project Manager - Sift Group Ltd</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Aug 1998 – Jan 2003</small></p>
            </div>
            <div class="timeline-body">
              <p>Department management, project management, team leadership, mentoring, ASP, IIS, MS SQL, Xml, Perl, PostgreSQL, MySQL, Apache, Delphi.</p>
            </div>
          </div>
        </li>
              
        <!-- Freelance -->
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">IT Manager - Arthema Ltd</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Aug 1996 – Aug 1998</small></p>
            </div>
            <div class="timeline-body">
              <p>ASP, IIS, MS SQL, Delphi.</p>
            </div>
          </div>
        </li>
                
    </ul>
  </div>
</div>
    