<div class="container">
  <div class="row">
    <div class="col">
      <a href="https://www.dddeastmidlands.com/" title="I'm speaking at DDD East Midlands!">
        <img class="banner-image" src="/images/dddem_banner.png" alt="I'm speaking at DDD East Midlands!" 
             style="width:100%; margin-bottom:16px;" />
      </a>
    </div>
</div>  

<div class="row">
  <div class="col">
    <div class="jumbotron">
      <img class="hero-image" src="https://lh4.googleusercontent.com/-TgRw25EW5zI/AAAAAAAAAAI/AAAAAAAAL7k/SbLenKDqfKQ/s250-c-k/photo.jpg" alt="Joel Hammond-Turner"">
      <h1><span class="glyphicon glyphicon-globe"></span> Hello t'Internet</h1>
      <p>Welcome to my <strong>new</strong>, new home on the net.</p>
      <p><a class="btn btn-sml btn-primary" ng-href="/#!/about">Learn More <i class="fas fa-chevron-right"></i></a></p>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4><i class="fas fa-comment"></i> Golden Nuggets</h4>
            <p>My blog - delivering nuggets of technical information for .Net developers</p>
            <p><a class="btn btn-sm btn-primary" href="https://nuggets.hammond-turner.org.uk/">View blog <i class="fas fa-chevron-right"></i></a></p>
          </div>
        </div>
      </div>  
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4><i class="fas fa-bullhorn"></i> Speaking</h4>
            <p>I get about a bit, and have spoken at quite a few community conferences and user groups - and I am always looking for more opportunities.</p>
            <p><a class="btn btn-sm btn-primary" href="/#!/speaking">Learn more <i class="fas fa-chevron-right"></i></a></p>
          </div>
        </div>          
      </div>  
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4><i class="fas fa-thumbs-up"></i> The Social Network(s)</h4>
            <p>These are probably the best ways to interact with me.</p>
              <div class="row">
                <div class="col">
                  <p><a href="https://www.linkedin.com/in/joelht" ><img src="https://www.linkedin.com/img/webpromo/btn_viewmy_160x33.gif" width="160" height="33" border="0" alt="View Joel Hammond-Turner's profile on LinkedIn"></a></p>
                </div>
                <div class="col">
                  <p><a href="https://twitter.com/rammesses" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @rammesses</a></p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
        <div class="card-body">
          <a class="twitter-timeline" href="https://twitter.com/rammesses" data-widget-id="273547403695624192">Tweets by @rammesses</a>
          </div>
    </div>
  </div> 
</div>  


</div>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script></p>
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'en-GB'}
</script>

