<div class="container-fluid">

<div class="row-fluid">
  
  
  <div class="col-md-4">
    <div class="well">
      <h2><span class="glyphicon glyphicon-bullhorn"></span> Speaking</h2>
      <div class="text-justify">
        <p>It's part of my job as a Technical Lead to help train and mentor 
           development teams - and a big part of that is presenting technical
           sessions to my colleagues. But I've also been very lucky over the 
           last few years to be asked to speak
           at a number of community developer events and developer groups.
           </p>
        <p>You can see the topics I've spoken on to the right - but I've got 
           plenty more ideas, and am always on the look out for new speaking
           opportunities.
           </p>
           
         <img class="leftbar-image" src="/images/speaking_at_dddeastanglia_2015.jpg" 
              alt="Speaking at DDD East Anglia 2015." title="Speaking at DDD East Anglia 2015. Image (c) Adrian Banks 2015" />
      </div>
    </div>
  </div>
  
  <div class="col-md-8 well">
          
     <div>
       <h3>Logging and Monitoring - How to keep DevOps happy</h3>
       <ul class="text-muted">
         <li><a href="http://www.dddsouthwest.com/Blog/Post/68/Proposed-Session--Logging-and-Monitoring---How-to-keep-DevOps-happy">DDD South West 6 - May 2015</a></li>
         <li><a href="http://www.dddeastanglia.com/Agenda">DDD East Anglia - Sep 2015</a> (10  minute Grok Talk version)</li>
         <li><a href="http://www.dddnorth.co.uk/Sessions/Details/143">DDD North - Oct 2015</a></li>
       </ul>
       <p>DevOps is the now very much a "thing" - but keeping your DevOps team happy isn't just about 
          working with them on deployments, it's about giving them the tools to support your code in 
          production.</p>
       <p>In this talk I set the stage with some real-world experience, and then show you how good logging
          and application monitoring can be easily baked into your code from the start using Serilog, 
          Metrics.Net and other helpers, and how Splunk should be your best friend as you bring your 
          code to production.</p>
     </div>
     <div>
       <h3>So you want to be a Tech Lead? 10 things you need to do to succeed.</h3>
       <ul class="text-muted">
         <li><a href="http://dddeastanglia2014.azurewebsites.net/Session/Details/3139.html">DDD East Anglia - Sept 2014</a></li>
         <li><a href="http://www.dddnorth.co.uk/Sessions/Details/80">DDD North - Oct 2014</a></li>
       </ul>
       <p>"Tech Lead" is an amorphous job title - is it all about the technology, or all about leadership? 
          What should the balance really be?</p>
       <p>And it can also be a complex and thankless role too - particularly if you find yourself becoming 
          the go-to guy (or gal) for everyone from the intern to the product manager.</p>
       <p>In this talk I cover (at least) 10 things that I think are essential to success in both areas, 
          including how to address technical debt, herd your PMs and make sure your development team has 
          a steady flow of work (and beer, pizza or other "motivationals").</p>
     </div>
     <div>
       <h3>An Introduction to Octopus Deployment</h3>
         <ul class="text-muted">
           <li><a href="http://dddeastanglia2013.azurewebsites.net/Sessions.htm">DDD East Anglia - Sept 2013</li></li>
           <li>DDD North - Oct 2013</li>
           <li><a href="http://www.meetup.com/Chester-Devs/events/161252402/">Chester Devs - Mar 2014</a></li>
           <li><a href="http://www.meetup.com/DeveloperSouthCoast/events/197711632/">Developer South Coast - Sept 2014</a></li>
           <li><a href="http://attending.io/events/thedevbakery-april15">The Dev Bakery - April 2015</a></li>
         </ul>
       <p>In an enterprise environment, publishing to live from the desktop really doesn't cut it - testing, 
          customer approval and change tracking all require more checks, steps and environments than the 
          usual Visual Studio or Azure tools provide.</p>
       <p>Octopus Deploy is a NuGet-based system that allows great flexibility in managing deployments to 
          numerous environments across multiple releases.<p>
       <p>In this talk I give an introduction to Octopus Deploy, showing how it can be used to deploy a web 
          site to a local IIS instance, a "test" server and up to Azure, and how it can be easily integrated 
          with a CI build system to control releases, with "tales from the trenches".</p>
     </div>
     <div>
       <h3>Using your NuGet for fun and profit</h3>
         <ul class="text-muted">
           <li>DDD South West 4 - May 2012</a></li>
           <li><a href="http://dddeastanglia2013.azurewebsites.net/Sessions.htm">DDD North - Oct 2012</a></li>
           </ul>
         <p>The explosive take-up of NuGet clearly demonstrates just how valuable a packaging system for .Net can be.</p>
         <p>This session looks the issues surrounding creating NuGet packages for use within your own organisation 
            rather than for general consumption, and will look at the options for hosting a NuGet server both on-site 
            and in the cloud.</p>
         <p>It also demonstrates the 
            <a href="https://visualstudiogallery.msdn.microsoft.com/f0145bdf-3bd8-46e6-b1ef-1a685d373ae8">NuGet.PackageNPublish</a> 
            tooling released by Landmark at DDDSW4 which makes creating 
            packages to contain your libraries as easy as File->New Project.</p>
     </div>
  </div>
  </div>
  </div>
  